@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Lato", sans-serif;
}


.w1 {
    animation: ani1 15s infinite
}   
.w2 {
    animation: ani2 15s infinite
}   
.w3 {
    animation: ani3 15s infinite
}   
.w4 {
    animation: ani4 15s infinite
}   
.w5 {
    animation: ani5 15s infinite
}   

/* .change {
    @apply text-gray-100 text-center text-3xl mt-6 uppercase
} */
.box{
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
}

@keyframes ani1 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
}
@keyframes ani2 {
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}
@keyframes ani3 {
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
}
@keyframes ani4 {
    60% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
}
@keyframes ani5 {
    80% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

a.active {
    @apply text-black border-t-gray-200 border-t-4
}



/* border-t-white border-t-4 hover:border-t-gray-200  */

.hero-image::after {
    display: block;
    position: absolute;
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
    bottom: 0; */
    left:0;
    right:0;
    height: 75vh;
    width: 100%;
    content: '';
  }